pkg/
# bin/

# vscode plugins
#src/github.com
#src/golang.org

# vendors
#src/sys.app/vendor
#src/demo.hello/vendor
#src/demo.tests/vendor
src/mock.server/vendor/mockacc
src/mock.server/vendor/qbox.us
src/mock.server/vendor/qiniu.com
src/mock.server/vendor/qiniupkg.com

src/sys.app/main/main
src/mock.server/data
