[submodule "src/github.com/derekparker/delve"]
	path = src/github.com/derekparker/delve
	url = https://github.com/derekparker/delve
[submodule "src/github.com/ianthehat/godef"]
	path = src/github.com/ianthehat/godef
	url = https://github.com/ianthehat/godef
[submodule "src/github.com/karrick/godirwalk"]
	path = src/github.com/karrick/godirwalk
	url = https://github.com/karrick/godirwalk
[submodule "src/github.com/mdempsky/gocode"]
	path = src/github.com/mdempsky/gocode
	url = https://github.com/mdempsky/gocode
[submodule "src/github.com/ramya-rao-a/go-outline"]
	path = src/github.com/ramya-rao-a/go-outline
	url = https://github.com/ramya-rao-a/go-outline
[submodule "src/github.com/rogpeppe/godef"]
	path = src/github.com/rogpeppe/godef
	url = https://github.com/rogpeppe/godef
[submodule "src/github.com/sqs/goreturns"]
	path = src/github.com/sqs/goreturns
	url = https://github.com/sqs/goreturns
[submodule "src/github.com/stamblerre/gocode"]
	path = src/github.com/stamblerre/gocode
	url = https://github.com/stamblerre/gocode
[submodule "src/github.com/uudashr/gopkgs"]
	path = src/github.com/uudashr/gopkgs
	url = https://github.com/uudashr/gopkgs
[submodule "src/demo.app/vendor/gopkg.in/mgo.v2"]
	path = src/demo.app/vendor/gopkg.in/mgo.v2
	url = https://github.com/go-mgo/mgo.git
[submodule "src/github.com/onsi/ginkgo"]
	path = src/demo.tests/vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo.git
[submodule "src/github.com/onsi/gomega"]
	path = src/demo.tests/vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega.git
[submodule "src/github.com/hpcloud/tail"]
	path = src/github.com/hpcloud/tail
	url = https://github.com/hpcloud/tail.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://github.com/golang/text.git
[submodule "src/demo.tests/vendor/gopkg.in/yaml.v2"]
	path = src/demo.tests/vendor/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml.git
[submodule "src/demo.app/vendor/github.com/go-redis/redis"]
	path = src/demo.app/vendor/github.com/go-redis/redis
	url = https://github.com/go-redis/redis.git
[submodule "src/github.com/julienschmidt/httprouter"]
	path = src/github.com/julienschmidt/httprouter
	url = https://github.com/julienschmidt/httprouter.git
[submodule "src/tools.app/vendor/gopkg.in/gomail.v2"]
	path = src/tools.app/vendor/gopkg.in/gomail.v2
	url = https://github.com/go-gomail/gomail.git
